@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

body {
  background-color: rgb(104, 103, 103);
  height: fit-content;
}
.container {
  display: flex;
  flex-wrap: wrap;
  font-family: "Indie Flower", cursive;
  margin-top: 20px;
  margin-left: 20px;
}

.postit {
  height: 200px;
  width: 250px;
  margin: 30px;
  padding: 10px;
  box-shadow: 5px 5px 10px black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.postit .nome {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
}
.postit .descrizione {
  font-size: 1.8em;
}
.postit:hover {
  transform: rotate(0deg) scale(1.2);
  box-shadow: 5px 3px 10px 4px black;
}

/* Task animation*/
.postit1 {
  background-color: rgba(245, 245, 167, 0.866);
  transform: rotate(-10deg);
  transition: all 0.5s;
}
.postit2 {
  background-color: rgba(161, 236, 185, 0.741);
  transform: rotate(10deg);
  transition: all 0.5s;
}
.postit3 {
  background-color: rgb(158, 158, 231);
  transform: rotate(-10deg);
  transition: all 0.5s;
}
.postit4 {
  background-color: rgb(199, 132, 62);
  transform: rotate(10deg);
  transition: all 0.5s;
}
